#!/bin/sh
#
# Need hwinfo
# Use sudo apt-get install -y hwinfo

# Disable the mouse
xinput disable "DELL09A0:00 0488:1020 Mouse"

# Internal output
INTERNAL_OUTPUT="eDP-1"

#
# At startup, the external monitor is chosen if connected.
# If not connected, the internal monitor is chosen
#
if [ -z "$EXTERNAL_OUTPUT" ]; then
  xrandr --output $INTERNAL_OUTPUT --auto --primary
else
  xrandr --output $EXTERNAL_OUTPUT --auto --primary --output $INTERNAL_OUTPUT --off
fi
