[user]
	name = Etienne Monier
	email = etienne.monier@cs-soprasteria.com

[core]
	editor = hx +3
	pager = cat

[commit]
	template = ~/.gitmessagecommit.txt

[alias]
    lg = log --branches --remotes --tags --graph --oneline --decorate
    stl = git stash list --pretty=format:"%C(red)%h%C(reset) - %C(dim yellow)(%C(bold magenta)%gd%C(dim yellow))%C(reset) %<(70,trunc)%s %C(green)(%cr) %C(bold blue)<%an>%C(reset)"

[init]
	defaultBranch = develop
