[user]
	name = Etienne Monier
	email = etienne.monier@csgroup.eu

[core]
	editor = vim +3 +startinsert
	pager = cat

[alias]
	lg2 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%aN>%Creset' --abbrev-commit --all
    lg = log --branches --remotes --tags --graph --oneline --decorate
[commit]
	template = /home/emonier/.gitmessagecommit.txt
